@using Newtonsoft.Json.Linq;
@using MvcApplication1.Models;

@model MvcApplication1.Models.ViewContext


@{
    ViewBag.Title = "LogView";
}

<h2>LogView</h2>
@using (Html.BeginForm()){
<fieldset style="width:350px; padding-left:10px">
    <legend>Log</legend>
    <p>Enter DeviceId<br /> @Html.TextBoxFor(context => context.deviceIdForLogRequest) </p>
    <p><input type="submit" value="Show Log" /></p>
</fieldset>
<hr>
}    
@if (Model.history != null)
{
    foreach (DSRCommand item in Model.history)
    {
        Html.RenderPartial("LogItem", item);
        <hr>
    }
}

