@using MvcApplication1.Models;

@model MvcApplication1.Models.DSRCommand


<div class="devItem">
    @if (Model.deviceId != null)
    {
        <h4>Device ID: @Model.deviceId</h4>
    }
        
    @if(Model.command.commandName != null)
    { 
        <h4>Command Name: @Model.command.commandName</h4>
    }

    
    @if(Model.command.parameters!= null)
    {
        foreach ( DSRCommand.Command.Parameter parameter in Model.command.parameters)
        {
            <h5>Name: @parameter.name</h5>
            <h5>Value: @parameter.value</h5>

        }
    }



</div>
